In [1]:
import pandas as pd
import numpy as np

In [2]:
pd_series = pd.Series([5, 6, 7, 8, 9, 10])
pd_series

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [3]:
pd_series.index

RangeIndex(start=0, stop=6, step=1)

In [4]:
r_index=pd.RangeIndex(1, 10, 2)
for i in r_index:
    print(np.sin(np.pi*i/3))

print(type(r_index))

0.8660254037844386
1.2246467991473532e-16
-0.8660254037844386
0.8660254037844384
3.6739403974420594e-16
<class 'pandas.core.indexes.range.RangeIndex'>

In [5]:
iter(r_index)

In [6]:
pd_series.values

array([ 5,  6,  7,  8,  9, 10], dtype=int64)

In [7]:
pd_array = pd.array([1, 2, 3])
pd_array[1]

2

## Series

In [8]:
stars_sys = pd.Series(
    [4.2421, 5.9630, 6.588, 7.18, 7.7825, 8.2905],
    index = ['Альфа Центавра', 'Звезда Барнарда', 'Луман 16', 'WISE 0855-0714', 'Вольф 359', 'Лаланд 21185'])
print(stars_sys)

Альфа Центавра     4.2421
Звезда Барнарда    5.9630
Луман 16           6.5880
WISE 0855-0714     7.1800
Вольф 359          7.7825
Лаланд 21185       8.2905
dtype: float64

In [9]:
stars_sys.index

Index(['Альфа Центавра', 'Звезда Барнарда', 'Луман 16', 'WISE 0855-0714',
       'Вольф 359', 'Лаланд 21185'],
      dtype='object')

In [10]:
pd_series[[4, 3]]

4    9
3    8
dtype: int64

In [11]:
stars_sys[['Звезда Барнарда', 'Альфа Центавра']]

Звезда Барнарда    5.9630
Альфа Центавра     4.2421
dtype: float64

In [12]:
stars_sys['Луман 16'] = -1
stars_sys

Альфа Центавра     4.2421
Звезда Барнарда    5.9630
Луман 16          -1.0000
WISE 0855-0714     7.1800
Вольф 359          7.7825
Лаланд 21185       8.2905
dtype: float64

In [13]:
stars_sys[['Звезда Барнарда', 'Альфа Центавра', 'WISE 0855-0714']] = -3
stars_sys

Альфа Центавра    -3.0000
Звезда Барнарда   -3.0000
Луман 16          -1.0000
WISE 0855-0714    -3.0000
Вольф 359          7.7825
Лаланд 21185       8.2905
dtype: float64

## Filtration

In [14]:
stars_sys[stars_sys > 0]

Вольф 359       7.7825
Лаланд 21185    8.2905
dtype: float64

In [15]:
stars_sys = pd.Series(
    [4.2421, 5.9630, 6.588, 7.18, 7.7825, 8.2905],
    index = ['Альфа Центавра', 'Звезда Барнарда', 'Луман 16', 'WISE 0855-0714', 'Вольф 359', 'Лаланд 21185'])
stars_sys

Альфа Центавра     4.2421
Звезда Барнарда    5.9630
Луман 16           6.5880
WISE 0855-0714     7.1800
Вольф 359          7.7825
Лаланд 21185       8.2905
dtype: float64

In [16]:
stars_sys.name = 'Расстояние [световых лет]'
stars_sys.index.name = 'Звезды, звездные системы и сабзвезды'
stars_sys

Звезды, звездные системы и сабзвезды
Альфа Центавра     4.2421
Звезда Барнарда    5.9630
Луман 16           6.5880
WISE 0855-0714     7.1800
Вольф 359          7.7825
Лаланд 21185       8.2905
Name: Расстояние [световых лет], dtype: float64

## Data Frame

In [17]:
df = pd.DataFrame({
    'country':['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
    'population':[17.04, 143.5, 9.5, 45.5],
    'square':[2724902, 17125191, 207600, 603628]
    })
df

      country  population    square
0  Kazakhstan       17.04   2724902
1      Russia      143.50  17125191
2     Belarus        9.50    207600
3     Ukraine       45.50    603628

In [18]:
df.population

0     17.04
1    143.50
2      9.50
3     45.50
Name: population, dtype: float64

In [19]:
df.index = pd.RangeIndex(1, 8, 2)
df

      country  population    square
1  Kazakhstan       17.04   2724902
3      Russia      143.50  17125191
5     Belarus        9.50    207600
7     Ukraine       45.50    603628

In [20]:
df.index = ['KZ', 'RU', 'BY', 'UA']
df

       country  population    square
KZ  Kazakhstan       17.04   2724902
RU      Russia      143.50  17125191
BY     Belarus        9.50    207600
UA     Ukraine       45.50    603628

In [21]:
df.index.name = 'country_code'
df

                 country  population    square
country_code
KZ            Kazakhstan       17.04   2724902
RU                Russia      143.50  17125191
BY               Belarus        9.50    207600
UA               Ukraine       45.50    603628

In [22]:
df.columns.name = None
df

                 country  population    square
country_code
KZ            Kazakhstan       17.04   2724902
RU                Russia      143.50  17125191
BY               Belarus        9.50    207600
UA               Ukraine       45.50    603628

## Доступ к строкам

In [23]:
df.loc['KZ'], type(df.loc['KZ'])

(country       Kazakhstan
 population         17.04
 square           2724902
 Name: KZ, dtype: object,
 pandas.core.series.Series)

In [24]:
df.loc[['KZ',]]

                 country  population   square
country_code
KZ            Kazakhstan       17.04  2724902

In [25]:
type(df.loc[['KZ',]])

pandas.core.frame.DataFrame

In [26]:
df.iloc[1]

country         Russia
population       143.5
square        17125191
Name: RU, dtype: object

In [27]:
df.loc['KZ', 'population']

17.04

In [28]:
df.loc[['KZ', 'BY'], ['population', 'square']]

              population   square
country_code
KZ                 17.04  2724902
BY                  9.50   207600

In [29]:
df.iloc[[0,1], [1]]

              population
country_code
KZ                 17.04
RU                143.50

In [30]:
df[['country']]

                 country
country_code
KZ            Kazakhstan
RU                Russia
BY               Belarus
UA               Ukraine

In [31]:
df[df.population > 10]

                 country  population    square
country_code
KZ            Kazakhstan       17.04   2724902
RU                Russia      143.50  17125191
UA               Ukraine       45.50    603628

In [32]:
df[df.population > 10][['country', 'square']]

                 country    square
country_code
KZ            Kazakhstan   2724902
RU                Russia  17125191
UA               Ukraine    603628

In [33]:
df[df.square > 1000000][['country', 'population']]

                 country  population
country_code
KZ            Kazakhstan       17.04
RU                Russia      143.50

In [34]:
df[(df.square > 500000) & (df.population > 20)][['country', 'population', 'square']]

              country  population    square
country_code
RU             Russia       143.5  17125191
UA            Ukraine        45.5    603628

In [35]:
filters = (df.country == 'Russia')
df[filters]

             country  population    square
country_code
RU            Russia       143.5  17125191

In [64]:
df['density'] = df['population'] / df['square'] * 1000000
df

                 country  population    square    density
country_code
KZ            Kazakhstan       17.04   2724902   6.253436
RU                Russia      143.50  17125191   8.379469
BY               Belarus        9.50    207600  45.761079
UA               Ukraine       45.50    603628  75.377550

In [65]:
df[(df.density > 10) & (df.population < 10)][['country', 'population']]

              country  population
country_code
BY            Belarus         9.5

In [66]:
df_new = df.drop(['density'], axis = 1)
df_new

                 country  population    square
country_code
KZ            Kazakhstan       17.04   2724902
RU                Russia      143.50  17125191
BY               Belarus        9.50    207600
UA               Ukraine       45.50    603628

In [67]:
df

                 country  population    square    density
country_code
KZ            Kazakhstan       17.04   2724902   6.253436
RU                Russia      143.50  17125191   8.379469
BY               Belarus        9.50    207600  45.761079
UA               Ukraine       45.50    603628  75.377550

In [68]:
df_new = df.drop(['density'], axis = 'columns', inplace = True)
print(df_new)

None

In [69]:
df

                 country  population    square
country_code
KZ            Kazakhstan       17.04   2724902
RU                Russia      143.50  17125191
BY               Belarus        9.50    207600
UA               Ukraine       45.50    603628

In [70]:
df.columns

Index(['country', 'population', 'square'], dtype='object')

In [71]:
df = df.rename(columns={'country':'country_name'})
df

             country_name  population    square
country_code
KZ             Kazakhstan       17.04   2724902
RU                 Russia      143.50  17125191
BY                Belarus        9.50    207600
UA                Ukraine       45.50    603628

In [72]:
df.nlargest(3, 'population')

             country_name  population    square
country_code
RU                 Russia      143.50  17125191
UA                Ukraine       45.50    603628
KZ             Kazakhstan       17.04   2724902

In [74]:
df['density'] = df['population'] / df['square'] * 1000000
df.nlargest(3, 'density')

             country_name  population    square    density
country_code
UA                Ukraine        45.5    603628  75.377550
BY                Belarus         9.5    207600  45.761079
RU                 Russia       143.5  17125191   8.379469

In [76]:
df.nsmallest(2, 'density')

             country_name  population    square   density
country_code
KZ             Kazakhstan       17.04   2724902  6.253436
RU                 Russia      143.50  17125191  8.379469